<div>   
    <h2> Titulo del Post :  <i> <%= @postReview.titulo %> </i></h2>
    <p><%= @postReview.cuerpo %></p>

    <h3> Autor : <i><%= @postReview.autor %></i> </h3>
    <h4>Fecha <i><%= @postReview.fecha %></i></h4>
</div>
